@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rozha+One&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,500;1,500&display=swap');

.rozha-one-regular {
  font-family: "Rozha One";
  font-weight: 400;
  font-style: normal;
}


.rozha-one-bold {
  font-family: "Rozha One";
  font-weight: 800;
  font-style: normal;
}


.laila-light {
  font-family: "Laila", serif;
  font-weight: 300;
  font-style: normal;
}

.laila-regular {
  font-family: "Laila", serif;
  font-weight: 400;
  font-style: normal;
}

.laila-medium {
  font-family: "Laila", serif;
  font-weight: 500;
  font-style: normal;
}

.laila-semibold {
  font-family: "Laila", serif;
  font-weight: 600;
  font-style: normal;
}

.laila-bold {
  font-family: "Laila", serif;
  font-weight: 700;
  font-style: normal;
}
